<!DOCTYPE html>
<html>
<head>
  <title>Andrew Jorczak</title>
  <%= metamagic title: "Andrew Jorczak", 
                description: "Personal Website for Andrew Jorczak: Web Developer, Actor",
                keywords: %w(web developer ruby rails Ruby On Rails Jorczak Chicago Actor Theatre) %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="notice"> <%= notice %></p>
	<p class="alert"> <%= alert %></p>
<%= yield %>

</body>
</html>
