<!DOCTYPE html>
<html>
<head>
<%= metamagic title: "Andrew Jorczak, Web Developer, Actor", 
              description: "Personal Website for Andrew Jorczak",
              keywords: %w(chicago actor ruby rails javascript jquery) %>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
  <%= stylesheet_link_tag    "posts", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="masthead">
    <h3 class="muted">Andrew Jorczak: Actor, Web Developer</h3>
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <div class="container">
            <ul class="nav navbar-nav">
              <%= nav_link 'Home', root_path %>
              <%= nav_link 'About', about_path %>
              <%= nav_link 'Portfolio', portfolio_path %>
              <%= nav_link 'Blog', posts_path, true %>
            </ul> </div>
      </div>
    </div><!-- /.navbar -->
  </div>
    <%= yield %>
    <hr />
  <div class="footer">
    <p>&copy; Andrew Jorczak 2013</p>
  </div>
</div> <!-- /container -->

</body>
</html>